<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>
  <appSettings>
    <add key="BaseURL" value="https://www.harrods.com/"/>
    <add key="Browser" value="Chrome"/>
    <add key="ImplicitWaitInSeconds" value="120"/>
    <add key="ElementVisibilityWaitInSeconds" value="60"/>
  </appSettings>
</configuration>